[class*="col-"] {
  float   : left;
  padding : 5px;
  position: relative;
}

.col {
  &-1 {
    width: 8.33%;
  }

  &-2 {
    width: 16.66%;
  }

  &-3 {
    width: 25%;

    &-md {
      @media (min-width: 769px) and (max-width: 1180px) {
        width: 50%;
      }
    }

    &-sm {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-4 {
    width: 33.33%;
  }

  &-5 {
    width: 41.66%;
  }

  &-6 {
    width: 50%;
    @media (max-width: 1181px) {
      width: 100%;
    }
  }

  &-7 {
    width: 58.33%;
  }

  &-8 {
    width: 66.66%;
  }

  &-9 {
    width: 75%;
  }

  &-10 {
    width: 83.33%;
  }

  &-11 {
    width: 91.66%;
  }

  &-12 {
    width: 100%;
  }
  &-centered{
  float: none;
  margin: 0 auto;
  }
}


.row::after {
  content: '';
  clear  : both;
  display: table;
}

.container {
  padding  : 20px;
  max-width: 960px;

  &--wide {
    max-width: 1190px;
  }
}

.flex {
  display: flex;

  &-align {
    &--center {
      align-items: center;
    }
  }
}

.box{
  width  : 100%;
  height : auto;
  border : 1px solid $grey;
  height : 200px;
  padding: 20px;
  overflow: auto;
}

.wrapper {
  margin-left: 250px;
  position   : relative;
  min-height : calc(100vh - 100px);
}

.content {
  margin-bottom: 50px;
  margin-top   : 50px;
  padding      : 20px;
  height: calc(100vh - 100px);
  overflow: auto;

}

.save-footer{
  position  : fixed; 
  max-width : 960px; 
  left      : 250px; 
  right     : 0; 
  margin    : 0 auto; 
  bottom    : 50px; 
  background: rgba($white, 1); 
  border-top: 1px solid rgba(0,0,0,.15);
  width     : 100%;
}
