

.logo{
	height: 30px;
}

.login-bg {
	background-image: url(../images/neurocore-login-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
}

